@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin-bottom: 30px;
    background-color: hsl(206, 28%, 60%);
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}
.container {
    width: 80vw;
    min-height: 50vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type='text'] {
    max-width: 40vw;
}
#word {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}
button {
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1a959e;
    border: 1px solid #000;
}
.search {
    margin-bottom: 30px;
}

:where(.definitions, .synonyms, .antonyms) li {
    margin-left: 1rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
}
.definitions,
.synonyms,
.antonyms {
    margin-bottom: 30px;
}

:where(.definitions, .synonyms, .antonyms) h2 {
    margin-bottom: 10px;
}
.definitions > * {
    list-style-type: decimal;
}
.definitions li li {
    list-style-type: disc;
}
